---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
     <!--  <h1>一片叶</h1> -->
<!-- text-5xl字体大小  font-semibold 粗字 -->
<div class="text-5xl font-extrabold text-center">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">一片叶</span>
</div>

<!-- HR -->

<!-- 闪动字  -->
<!-- <div class="ms-52 my-10 text-3xl font-extrabold">
  <span class="animate-pulse bg-gradient-to-r from-yellow-500 via-purple-500 to-green-500 bg-clip-text text-transparent">一花一世界，一叶一菩提！ </span>
</div>  -->
<!-- 闪动字coolGray别名为  gray​，将 ​violet ​别名为 ​purple​，将 ​amber ​别名为 ​yellow​，将 ​emerald ​别名为 ​green -->
<div class="ms-52 my-10 text-3xl font-extrabold">
  <span class="animate-pulse bg-gradient-to-r from-pink-500 via-green-500 to-violet-500 bg-clip-text text-transparent">一花一世界，一叶一菩提！ </span>
</div>

    <Hr />
<p style="text-align:center;">一花一世界，一木一浮生</p>
<p style="text-align:center;">一草一天堂，一叶一如来</p>
<p style="text-align:center;">一砂一极乐，一方一净土</p>
<p style="text-align:center;">一笑一尘缘，一念一清静</p>    
 <Hr />
<!-- text-5xl字体大小  font-semibold 粗字 -->
<div class="text-5xl font-extrabold text-center">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Guestbook </span>
</div>


      <p>测试utterancJS
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="/guestbook"
        >
          README
        </LinkButton> Guestbook.
      </p>

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />
 <!-- featured -->
  <!-- 
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }
     -->
 <!-- Recent Posts -->
  <!-- 
    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }
 -->
 <!-- All Posts -->
    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
 <!-- All Posts -->

  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
